# Database
DB_USERNAME=postgres
DB_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRATION=86400000

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Claude API (PDF extraction)
CLAUDE_API_KEY=
